<!-- "Join Team" (Post) Form -->
<div class="">

    <!-- Creates Main Panel -->
    <div class="panel panel-default">

        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">BU BUS<span class="glyphicon glyphicon-map-marker"></span></h2>
        </div>

        <!-- Panel Body -->
        <div class="panel-body">

            <h3>BUS app stuff will go here eventually</h3>

            <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
            <form name ="busForm" novalidate>

                
            </form>
            

        </div>
    </div>
</div>