<!-- "Join Team" (Post) Form -->
<div class="">

    <!-- Creates Main Panel -->
    <div class="panel panel-default">

        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">Welcome to BU Travel! Select Your Favorite Stops<span class="glyphicon glyphicon-map-marker"></span></h2>
        </div>

        <!-- Panel Body -->
        <div class="panel-body">

           
                <div class="header">
                        <!-- Header items are made active upon selection -->
                        <ul class="nav nav-pills nav-justified">
                            <li ><a href="/#/mbta">MBTA Stops</a></li>
                            <li ><a href="/#/bus">BU Bus Stops</a></li>
                        </ul>
                        <br>
                </div>             

        </div>
    </div>
</div>