<!-- "Join Team" (Post) Form -->
<div class="">

    <!-- Creates Main Panel -->
    <div class="panel panel-default">

        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">MBTA Times Near You <span class="glyphicon glyphicon-map-marker"></span></h2>
        </div>

        <!-- drop down menu -->
        <div class= "panel-body">
            <form name= "mbtaForm" novalidate>
                <select ng-options="x1.stopname for x1 in stops" ng-model="SelectedStop" ng-change="stopData(SelectedStop)"></select>
            </form>

            <!-- Shows the arrival time after the user selects their stop -->
            <div ng-show="testVariable>0" class="panel-footer">
                <h3 class="text-center">The next arrival time for {{SelectedStop}} is {{arrivalTime}}.</h3>
            </div>
        </div>


        <!-- Panel Body -->

    </div>
</div>
