<!-- "Join Team" (Post) Form -->
<div class="">

    <!-- Creates Main Panel -->
    <div class="panel panel-default">

        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">MBTA Times Near You <span class="glyphicon glyphicon-map-marker"></span></h2>
        </div>

        <!-- drop down menu -->
        <div class= "panel-body">
            <input list="testList" id=stops type="text" ng-model="SelectedStop" ng-change="stopData(SelectedStop)"/>
            <datalist id="testList">
                <option ng-repeat="x1 in stops" value="{{x1.stopname}}"></option>
            </datalist>

            <!-- Shows the arrival time after the user selects their stop -->
            <div ng-show="testVariable>0" class="panel-footer">
                <h3 class="text-center">The next arrival time for {{SelectedStop}} is {{arrivalTime}}.</h3>
            </div>
        </div>


        <!-- Panel Body -->

    </div>
</div>
